<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="RegressionSuite">
	<parameter name="browserName" value="chrome"></parameter>
	<parameter name="isHeadless" value="false"></parameter>
  <test thread-count="2" name="Test">
    <classes>
<!--       <class name="sfdcTests.UserMenuTest"></class> -->
       <class name="sfdcTests.LoginTest"></class> 
    </classes>
  </test> <!-- Test -->
</suite> <!-- RegressionSuite -->
